# ignore css files not under style/src {{{
*.css
!style/src/*
!style/src/*/*
!style/src/*/*/*
# }}}

# javascript {{{

# ignore compiled javascript files {{{
*.gcc.min.js
*.yui.min.js
# }}}

# ignore javascript files not under style/src {{{
*.js
!javascript/src/*
!javascript/src/*/*
!javascript/src/*/*/*
# }}}

# }}}

# vim:ft=:fdm=marker:fmr={{{,}}}:
